body{
  font-family:times new roman;
  background-color:lightblue;
  padding: 15px;
}
h1{
  text-align:center;
}
[half]{
  width: 45%;
}
.link{
  cursor: pointer;
}
.card{
  border-radius: 5px;
  background: lightgrey;
  border: 0.5px solid grey;
  margin: 10px;
  padding: 10px;
}
.card-body{
  padding: 10px;
}
a {
  text-decoration: none;
  color: #0700cf;
}
a:hover{
  color: #3668ff;
}
a:active{
  text-decoration: underline;
}

