body {
	font-family: times new roman;
	background:black;
	color: white;
}

h1.ui.center.header {
			margin-top: 3em;
		}

		.ui.table th:not(:first-child):hover {
			cursor: pointer;
		}

		
		.hide {
			display: none;
		}

		
		.padded {
			padding: 5px;
		}
    
    
    .searchbar {
      margin: 10px;
      margin-right: 0px;
      width: 100%;
      background-color:lightblue;
      border: 1px solid black;
      display: inline !important;
      height: 25px;
	border-radius: 2px;
	padding: 20px !important;
	font-size: 17px;
	font-family: times new roman;
    }
    
    .searchbar:focus {
      transition-duration:0.5s;
      background-color:lightgreen;
	border: 1px solid black;
    } 

    
    #warn {
      text-align: center;
      display:none;
      color:white;
      background-color: red;
      
      width: 100%;
      font-size: 30px;
      line-height: 2;
      font-family:calibri;
    }





tbody {
  color: white;
}

table tr:nth-child(even) {
  background: black;
  color: white;
}

table tr:nth-child(odd) {
  background: #4d4d4d;
}  

    /*Optional table styling END*/
 
    
table {
  font-family:times new roman;
}

mark {
  color: red;
}
 

    
     @media only screen and (max-width: 768px) {
      #warn {
        display: block;
      }
    } 
    
